body{
    background: azure;
}
h1{
    color: blue;
    background-color: rgb(243, 240, 52);
    font-size: 250%;
}
p{
    color: black
    
}

 #creditos{
     color: #Fb1e1e;
 }


 .diseño_caja{
     color: black;
     
     width: 30%;
     height: 30%;
     background-color: purple;
     display: inline-block;
     border-style: solid;
     border-color: navy;
    margin: 1.5% 0.5% 1.5% 1%;
    padding: 0.5% 0.5% 0.5% 0.5%;
    text-align: center;
 }
 #final{
    color: white;
    text-align: left;
}