body{
    background: azure;
}
h1{
    color: blue;
    background-color: rgb(243, 240, 52);
    font-size: 250%;
}
p{
    color: black
    
}

 #creditos{
     color: #Fb1e1e;
 }

 .formulario{
     width: 50%;
     margin: 20px auto;
 }

 .formulario_label{
     display: inline-block;
     width: 30%;
 }

 .diseño_caja{
     color: black;
     
     width: 30%;
     height: 30%;
     background-color: purple;
     display: inline-block;
     border-style: solid;
     border-color: navy;
    margin: 1.5% 0.5% 1.5% 1%;
    padding: 0.5% 0 0.5% 0.5%;
    text-align: center;
 }
 #final{
    color: white;
    text-align: left;
}

.ver_mas{
    color: white;
    background-color:midnightblue;
    border-color: midnightblue;
    margin-left: 86%;
}

.titulo-icono{
    display: flex; /*coloque las cajas que estan dentro del div en la misma linea */
}

.caja-titulo{
    width: 80%;
    height: 40px;
    background-color: navy;

}

.caja-icono{
    width: 20%;
    height: 40px;
    background-color: red;
    text-align: center;
    
}

.diseñoicono1{
    font-size: 40px;
    color: white;
}

.diseñoicono2{
    font-size: 40px;
    color: white;
}
.diseñoicono3{
    font-size: 40px;
    color: white;
}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
}

.menu li a{
    display: block;
    background-color: yellow;
    color: blue;
    width: 50px;
    height: 30px;
    text-decoration: darkblue;
    margin: 0 10px 0 0;
    padding: 10px 0 0 10px;
    
}