body{
    background: azure;
}
h1{
    color: blue;
    background-color: rgb(243, 240, 52);
    font-size: 250%;
}
p{
    color: black
    
}

#creditos{
     color: #Fb1e1e;
 }

.formulario{
     width: 60%;
     margin: 20px auto;
}

.formulario_label{
     display: inline-block;
     width: 30%;
}

.formulario_input{
     display: inline-block;
     width: 40%;
     margin: 1.8% 0 0 0 ;
}

.formulario_boton{
     width: 25%;
     height: 30px;
     padding: 5px;
     background-color: rgb(126, 236, 236);
     color: navy;
     border-color:navy;
     border-radius: 15px;
     margin: 1.8% auto;
}

.diseño_tabla{
     width: 45%;
     border: 1px solid navy;
     border-collapse: collapse;
}

 th, td{
     border: 1px solid navy;
 }

 .diseño_caja{
     color: black;
     
     width: 30%;
     height: 30%;
     background-color: purple;
     display: inline-block;
     border-style: solid;
     border-color: navy;
    margin: 1.5% 0.5% 1.5% 1%;
    padding: 0.5% 0 0.5% 0.5%;
    text-align: center;
 }
 #final{
    color: white;
    text-align: left;
}

.ver_mas{
    color: white;
    background-color:midnightblue;
    border-color: midnightblue;
    margin-left: 86%;
}

.titulo-icono{
    display: flex; /*coloque las cajas que estan dentro del div en la misma linea */
}

.caja-titulo{
    width: 80%;
    height: 40px;
    background-color: navy;

}

.caja-icono{
    width: 20%;
    height: 40px;
    background-color: red;
    text-align: center;
    
}

.diseñoicono1{
    font-size: 40px;
    color: white;
}

.diseñoicono2{
    font-size: 40px;
    color: white;
}
.diseñoicono3{
    font-size: 40px;
    color: white;
}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
}

.menu li a{
    display: block;
    background-color: yellow;
    color: blue;
    width: 50px;
    height: 30px;
    text-decoration: darkblue;
    margin: 0 10px 0 0;
    padding: 10px 0 0 10px;
    
}

/* vista celular*/
@media(max-width: 640px){
    .menu ul{
        display: block;
        list-style: none;
        justify-content: center;
        
    }

    .menu li a{
        display: block;
        background-color: yellow;
        color: blue;
        width: 90%;
        height: 30px;
        text-decoration: darkblue;
        text-align: center;
        margin-top: 3%;
        
    }

    .formulario{
        width: 90%;
        margin: 0px auto;
    }
   
    .formulario_label{
        width: 45%;
        margin: 1px
    }
   
    .formulario_input{
        width: 50%;
    }
   
    .formulario_boton{
        width: 35%;
        
        margin: 3% auto;
    }

    .diseño_tabla{
        width: 75%;
        border: 1px solid navy;
        border-collapse: collapse;
    }

    .diseño_caja{
        color: black;
        
        width: 90%;
        display: block;
    }

    .ver_mas{
        color: white;
        background-color:midnightblue;
        border-color: midnightblue;
        margin-left: 78%;
    }

    .menu img {
        width: 85%;
    }
}
/*configuracion para tablet*/
@media(min-width: 641px) and (max-width:1280px){
    .menu ul{
        display: block;
        list-style: none;
        justify-content: center;

        
    }

    .menu li a{
        display: block;
        background-color: yellow;
        color: blue;
        width: 90%;
        height: 30px;
        text-decoration: darkblue;
        text-align: center;
        margin-top: 3%;
        
    }

    .formulario{
        width: 95%;
        margin: 0px auto;
    }
   
    .formulario_label{
        width: 45%;
        margin: 1px
    }
   
    .formulario_input{
        width: 50%;
    }
   
    .formulario_boton{
        width: 35%;
        
        margin: 3% auto;
    }

    .diseño_tabla{
        width: 85%;
        border: 1px solid navy;
        border-collapse: collapse;
    }

    .diseño_caja{
        color: black;
        
        width: 90%;
        display: block;
        margin-left: 3%;
    }

    .ver_mas{
        color: white;
        background-color:midnightblue;
        border-color: midnightblue;
        margin-left: 78%;
    }

    .menu img {
        width: 90%;
    }
}